- provide(:title, "Log in")
%div
  %a#signup.hiddenanchor
  %a#signin.hiddenanchor
  .login_wrapper
    .animate.form.login_form
      %section.login_content
        = form_for(:session, url: login_path) do |f|
          %h1 Login Form
          %div
            = f.email_field :email, class: "form-control", placeholder: "Email"
          %div
            = f.password_field :password, class: "form-control", placeholder: "Password"
          %div
            = f.submit "Log in", class: "btn btn-default submit"
            %a.reset_pass{:href => "#"} Lost your password?
          .clearfix
          .separator
            %p.change_link
              New to site?
              %a.to_register{:href => "#signup"} Create Account
            .clearfix
            %br/
            %div
              %h1
                %i.fa.fa-paw
                Project ThiTrucTuyen
              %p ©2017 All Rights Reserved
    #register.animate.form.registration_form
      %section.login_content
        = form_for(@user, url: users_path) do |f|
          %h1 Create Account
          %div
            = f.text_field :fullname, class: "form-control", placeholder: "Full name"
          %div
            = f.email_field :email, class: "form-control", placeholder: "Email"
          %div
            = f.password_field :password, class: "form-control", placeholder: "Password"
          %div
            = f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation"
          %div
            = f.submit "Sign Up", class: "btn btn-default submit"
          .clearfix
          .separator
            %p.change_link
              Already a member ?
              %a.to_register{:href => "#signin"} Log in
            .clearfix
            %br/
            %div
              %h1
                %i.fa.fa-paw
                Gentelella Alela!
              %p ©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms
