.page-title
  .title_left
    %h3 Add category

.clearfix
.row
  .col-md-12
    .x_panel
      .x_title
        %h4
          List Category
        .clearfix
      .x_content
        %table.table.table-striped
          %tr
            %th #
            %th Name
            %th Created at
            %th Updated at
            %th Action
          - @categories.each do |category|
            %tr
              %td= category.id
              %td= category.name
              %td= category.created_at
              %td= category.updated_at
              %td
                = form_for(@exam_category, url: admins_exam_categories_path) do |f|
                  = f.hidden_field :exam_id, value: @exam.id
                  = f.hidden_field :category_id, value: category.id
                  = f.submit "Add", class: "btn btn-sm btn-primary"
        = will_paginate @categories


